{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %} News list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данную новость?</h2>
<h2>Ваша новость {{ new.header|Censor }}</h2>
<ul style="font-size: 30px;">
    <li>
        Автор: {{new.author.author_name}}
    </li>
    <li>
        Текст: {{new.text|Censor}}
    </li>
    <li>
        Дата: {{new.date_time|date:'l F Y G:i'}}
    </li>
</ul>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}