.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -32px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 133px;
}

.u-section-2 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -32px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 133px;
}

.u-section-3 .u-text-1 {
  margin: 44px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -32px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: normal;
  }
}