
/* .register{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
} */



.content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

.reply{
    display: flex;
    justify-content: center;
}
.like{
    margin: 0 0 0 5%;
}

.header{
    display: flex;

}

.edit button{
    width: 100px;
    height: 50px;
}

.comments{
    border: 1px solid black;
}

.form-page{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 100px;
}

.form{
    /* border: 2px solid black; */
    font-size: 25px;
}

.avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--color-main);
    width: 120px;
}

.avatar img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 120px;
}
