{% extends 'head.html' %}

{% load static %}
{% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-3ff7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Post</h1>
        <p class="u-text u-text-default u-text-2">Comment</p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_bcd8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Post</h1>
        <p class="u-text u-text-default u-text-2">Comment</p>
      </div>
    </section>
{% endblock content %}