{% extends 'head.html' %}

{% load static %}
{% block content %}
    <section class="u-clearfix u-white u-section-1" id="sec-b69a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <img class="u-align-left u-image u-image-1" data-image-width="2000" data-image-height="1333" src="{% static 'img/2.svg' %}">
        <div class="u-container-style u-grey-80 u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-default u-text-1">Sample Headline</h2>
            <p class="u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
            <a href="" class="u-border-2 u-border-black u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-light-3 u-text-black u-text-hover-white u-btn-1">learn more</a>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}