{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    {% if new %}
        <h2>Ваша новость {{ new.header|Censor }}</h2>
        <ul style="font-size: 30px;">
            <li>
                Автор: {{new.author.author_name}}
            </li>
            <li>
                Текст: {{new.text|Censor}}
            </li>
            <li>
                Дата: {{new.date_time|date:'l F Y G:i'}}
            </li>
        </ul>
    {% else %}
        <h4>Нет такой новости!</h4>
    {% endif %}
{% endblock content %}