<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
{% load my_filters %}


{% block title %}
All News
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h2>Кол-во новостей: {{ news|length }}</h2>
<hr>
<h4>
{% if news %}
        <table>
            <tr>
                <td>
                    Автор
                </td>
                <td>
                    Блог
                </td>
                
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    20 слов текста
                </td>
            </tr>
        {% for new in news %}
            <tr>
                <td>
                    {{ new.author.author_name.username }}
                </td>
                <td>
                    {{ new.what_post }}
                </td>
                <td>
                    {{ new.heading|Censor }}
                </td>
                <td>
                    {{ new.date_and_time|date:'d M Y' }}
                </td>
                <td>
                    {{ new.text|truncatechars:50|Censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
</h4>
{% else %}
    <h2>Новостей нет</h2>
{% endif %}
{% endblock content %}

